<div class="col-md-8 offset-md-2">
  <h3>
    Register
  </h3>

  <div class="row">
    <div class="col-sm-12">
      <form
        (ngSubmit)="onSubmit()"
        #myForm="ngForm"
        autocomplete="off"
        novalidate
      >
        <div class="form-horizontal">
          <div class="form-group">
            <label for="email" class="control-label col-sm-3">Email</label>
            <div class="col-sm-9">
              <input
                type="text"
                id="email"
                name="email"
                class="form-control"
                [(ngModel)]="user.email"
                #email="ngModel"
                required
              />
              <div
                class="alert alert-danger"
                *ngIf="email.invalid && email.dirty"
              >
                <span class="help-block" *ngIf="email?.errors?.required"
                  >The email value is required!</span
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="control-label col-sm-3"
              >Password</label
            >
            <div class="col-sm-9">
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                [(ngModel)]="user.password"
                #password="ngModel"
                required
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              />
              <div
                class="alert alert-danger"
                *ngIf="password.invalid && password.dirty"
              >
                <span class="help-block" *ngIf="password?.errors?.required"
                  >The password value is required!</span
                >
                <span class="help-block"  *ngIf="password.errors.pattern"
                  >Must contain at least one number and one uppercase and
                  lowercase letter, and at least 8 or more characters.</span
                >
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="cpassword" class="control-label col-sm-3"
              >Confirm Password</label
            >
            <div class="col-sm-9">
              <input
                type="password"
                id="cpassword"
                name="cpassword"
                class="form-control"
                [(ngModel)]="user.cpassword"
                #cpassword="ngModel"
                required 
                pattern="{{ password.value }}"
              />
              <div
                class="alert alert-danger"
                *ngIf="cpassword.invalid && cpassword.dirty"
              >
                <span class="help-block" *ngIf="cpassword?.errors?.required"
                  >Confirm password value is required!</span
                >
                <span class="help-block"  *ngIf="cpassword.errors.pattern"
                  >Password & Confirm Password does not match.</span
                >
              </div>
              <div class="alert alert-danger" *ngIf="error?.has_error">
                <span class="help-block">{{ error?.error_message }}</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
              <!-- <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Login</button> -->
              <button type="submit" class="btn btn-success">Register</button>
              &nbsp;
              <button
                type="button"
                class="btn btn-secondary"
                (click)="myForm.reset()"
              >
                Reset
              </button>
              &nbsp;
              <a [routerLink]="['/login']">Login</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
